ExcelBTCAddin/ExcelBTCAddin/Service References/ExcelDataService/ExcelData.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetFinancialInstrumentData_New">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FinancialInstrumentHistoryField" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="DoubleDate" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="ExactDate" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFinancialInstrumentData_NewResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFinancialInstrumentData_NewResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFinancialInstrumentData_LastTick">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FinancialInstrument" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFinancialInstrumentData_LastTickResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFinancialInstrumentData_LastTickResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFinancialInstrumentData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FinancialInstrumentHistoryField" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="DoubleDate" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFinancialInstrumentDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFinancialInstrumentDataResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCETIPAccumulatedCDI">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="StartDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="EndDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="Percentage" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCETIPAccumulatedCDIResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCETIPAccumulatedCDIResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCETIPAccumulatedCDIWithSpread">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="StartDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="EndDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="SpreadPercentage" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCETIPAccumulatedCDIWithSpreadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCETIPAccumulatedCDIWithSpreadResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Test">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="valor" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="code" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TestResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PluralInpuCorporateDesk">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="valor" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="code" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PluralInpuCorporateDeskResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PluralInpuCorporateDeskResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FXTradingSpotInsert">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="financialInstrumentExchangeCode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="date" nillable="true" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="buyPriceD0" nillable="true" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="buyPriceD1" nillable="true" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="buyPriceD2" nillable="true" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="sellPriceD0" nillable="true" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="sellPriceD1" nillable="true" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="sellPriceD2" nillable="true" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FXTradingSpotInsertResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FXTradingSpotInsertResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FXTradingPendingOccurrenceValueSelect">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="date" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="Currency" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Type" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FXTradingPendingOccurrenceValueSelectResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FXTradingPendingOccurrenceValueSelectResult" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetFinancialInstrumentData_NewSoapIn">
    <wsdl:part name="parameters" element="tns:GetFinancialInstrumentData_New" />
  </wsdl:message>
  <wsdl:message name="GetFinancialInstrumentData_NewSoapOut">
    <wsdl:part name="parameters" element="tns:GetFinancialInstrumentData_NewResponse" />
  </wsdl:message>
  <wsdl:message name="GetFinancialInstrumentData_LastTickSoapIn">
    <wsdl:part name="parameters" element="tns:GetFinancialInstrumentData_LastTick" />
  </wsdl:message>
  <wsdl:message name="GetFinancialInstrumentData_LastTickSoapOut">
    <wsdl:part name="parameters" element="tns:GetFinancialInstrumentData_LastTickResponse" />
  </wsdl:message>
  <wsdl:message name="GetFinancialInstrumentDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetFinancialInstrumentData" />
  </wsdl:message>
  <wsdl:message name="GetFinancialInstrumentDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetFinancialInstrumentDataResponse" />
  </wsdl:message>
  <wsdl:message name="GetCETIPAccumulatedCDISoapIn">
    <wsdl:part name="parameters" element="tns:GetCETIPAccumulatedCDI" />
  </wsdl:message>
  <wsdl:message name="GetCETIPAccumulatedCDISoapOut">
    <wsdl:part name="parameters" element="tns:GetCETIPAccumulatedCDIResponse" />
  </wsdl:message>
  <wsdl:message name="GetCETIPAccumulatedCDIWithSpreadSoapIn">
    <wsdl:part name="parameters" element="tns:GetCETIPAccumulatedCDIWithSpread" />
  </wsdl:message>
  <wsdl:message name="GetCETIPAccumulatedCDIWithSpreadSoapOut">
    <wsdl:part name="parameters" element="tns:GetCETIPAccumulatedCDIWithSpreadResponse" />
  </wsdl:message>
  <wsdl:message name="TestSoapIn">
    <wsdl:part name="parameters" element="tns:Test" />
  </wsdl:message>
  <wsdl:message name="TestSoapOut">
    <wsdl:part name="parameters" element="tns:TestResponse" />
  </wsdl:message>
  <wsdl:message name="PluralInpuCorporateDeskSoapIn">
    <wsdl:part name="parameters" element="tns:PluralInpuCorporateDesk" />
  </wsdl:message>
  <wsdl:message name="PluralInpuCorporateDeskSoapOut">
    <wsdl:part name="parameters" element="tns:PluralInpuCorporateDeskResponse" />
  </wsdl:message>
  <wsdl:message name="FXTradingSpotInsertSoapIn">
    <wsdl:part name="parameters" element="tns:FXTradingSpotInsert" />
  </wsdl:message>
  <wsdl:message name="FXTradingSpotInsertSoapOut">
    <wsdl:part name="parameters" element="tns:FXTradingSpotInsertResponse" />
  </wsdl:message>
  <wsdl:message name="FXTradingPendingOccurrenceValueSelectSoapIn">
    <wsdl:part name="parameters" element="tns:FXTradingPendingOccurrenceValueSelect" />
  </wsdl:message>
  <wsdl:message name="FXTradingPendingOccurrenceValueSelectSoapOut">
    <wsdl:part name="parameters" element="tns:FXTradingPendingOccurrenceValueSelectResponse" />
  </wsdl:message>
  <wsdl:portType name="ExcelDataSoap">
    <wsdl:operation name="GetFinancialInstrumentData_New">
      <wsdl:input message="tns:GetFinancialInstrumentData_NewSoapIn" />
      <wsdl:output message="tns:GetFinancialInstrumentData_NewSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFinancialInstrumentData_LastTick">
      <wsdl:input message="tns:GetFinancialInstrumentData_LastTickSoapIn" />
      <wsdl:output message="tns:GetFinancialInstrumentData_LastTickSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFinancialInstrumentData">
      <wsdl:input message="tns:GetFinancialInstrumentDataSoapIn" />
      <wsdl:output message="tns:GetFinancialInstrumentDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCETIPAccumulatedCDI">
      <wsdl:input message="tns:GetCETIPAccumulatedCDISoapIn" />
      <wsdl:output message="tns:GetCETIPAccumulatedCDISoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCETIPAccumulatedCDIWithSpread">
      <wsdl:input message="tns:GetCETIPAccumulatedCDIWithSpreadSoapIn" />
      <wsdl:output message="tns:GetCETIPAccumulatedCDIWithSpreadSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Test">
      <wsdl:input message="tns:TestSoapIn" />
      <wsdl:output message="tns:TestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PluralInpuCorporateDesk">
      <wsdl:input message="tns:PluralInpuCorporateDeskSoapIn" />
      <wsdl:output message="tns:PluralInpuCorporateDeskSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FXTradingSpotInsert">
      <wsdl:input message="tns:FXTradingSpotInsertSoapIn" />
      <wsdl:output message="tns:FXTradingSpotInsertSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FXTradingPendingOccurrenceValueSelect">
      <wsdl:input message="tns:FXTradingPendingOccurrenceValueSelectSoapIn" />
      <wsdl:output message="tns:FXTradingPendingOccurrenceValueSelectSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ExcelDataSoap" type="tns:ExcelDataSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetFinancialInstrumentData_New">
      <soap:operation soapAction="http://tempuri.org/GetFinancialInstrumentData_New" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFinancialInstrumentData_LastTick">
      <soap:operation soapAction="http://tempuri.org/GetFinancialInstrumentData_LastTick" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFinancialInstrumentData">
      <soap:operation soapAction="http://tempuri.org/GetFinancialInstrumentData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCETIPAccumulatedCDI">
      <soap:operation soapAction="http://tempuri.org/GetCETIPAccumulatedCDI" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCETIPAccumulatedCDIWithSpread">
      <soap:operation soapAction="http://tempuri.org/GetCETIPAccumulatedCDIWithSpread" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test">
      <soap:operation soapAction="http://tempuri.org/Test" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PluralInpuCorporateDesk">
      <soap:operation soapAction="http://tempuri.org/PluralInpuCorporateDesk" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FXTradingSpotInsert">
      <soap:operation soapAction="http://tempuri.org/FXTradingSpotInsert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FXTradingPendingOccurrenceValueSelect">
      <soap:operation soapAction="http://tempuri.org/FXTradingPendingOccurrenceValueSelect" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ExcelDataSoap12" type="tns:ExcelDataSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetFinancialInstrumentData_New">
      <soap12:operation soapAction="http://tempuri.org/GetFinancialInstrumentData_New" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFinancialInstrumentData_LastTick">
      <soap12:operation soapAction="http://tempuri.org/GetFinancialInstrumentData_LastTick" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFinancialInstrumentData">
      <soap12:operation soapAction="http://tempuri.org/GetFinancialInstrumentData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCETIPAccumulatedCDI">
      <soap12:operation soapAction="http://tempuri.org/GetCETIPAccumulatedCDI" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCETIPAccumulatedCDIWithSpread">
      <soap12:operation soapAction="http://tempuri.org/GetCETIPAccumulatedCDIWithSpread" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test">
      <soap12:operation soapAction="http://tempuri.org/Test" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PluralInpuCorporateDesk">
      <soap12:operation soapAction="http://tempuri.org/PluralInpuCorporateDesk" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FXTradingSpotInsert">
      <soap12:operation soapAction="http://tempuri.org/FXTradingSpotInsert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FXTradingPendingOccurrenceValueSelect">
      <soap12:operation soapAction="http://tempuri.org/FXTradingPendingOccurrenceValueSelect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ExcelData">
    <wsdl:port name="ExcelDataSoap" binding="tns:ExcelDataSoap">
      <soap:address location="http://service/PluralMDService/ExcelData.asmx" />
    </wsdl:port>
    <wsdl:port name="ExcelDataSoap12" binding="tns:ExcelDataSoap12">
      <soap12:address location="http://service/PluralMDService/ExcelData.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>